* {
    background-color: rgb(32, 32, 32);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-nav a {
    text-decoration: none;
    font-family: 'cascade mono', monospace;

}

.top-nav-right {
    float: right;
    vertical-align: baseline;
}

#video {
    width: 1432px;
}


.heading {
    font-family: 'cascade mono', monospace;
    color: rgb(217, 149, 76);
}

#name {
    color:rgb(255, 255, 255);
    font-size: 24px;
}

#title {
    color: rgb(167, 213, 255);
}

#pic {
    width: 200px;
    float: right;

}

#email {
    font-size: 80px;
    text-align: center;
}

#attribution {
    font-size: 8px;
    color: rgb(93, 93, 93);
}
