* {
    background-color: rgb(32, 32, 32);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navigation */

.top-nav a {
    text-decoration: none;
    font-family: 'cascade mono', monospace;
}

.top-nav-right {
    float: right;
}

.top-nav-right a {
    padding-left: 40px;
}

#video {
    width: 1432px;
}


/*sections*/

.heading {
    font-family: 'cascade mono', monospace;
    color: rgb(217, 149, 76);
}

#name {
    color:rgb(255, 255, 255);
    font-size: 24px;
}

#title {
    color: rgb(71, 132, 190);
}

#pic {
    width: 200px;
    float: right;

}

#email {
    font-size: 80px;
    display: block;
    text-align: center;
}

#attribution {
    font-size: 10px;
    color: rgb(93, 93, 93);
}

.item {
    display: flex;
    background-color:rgb(114, 114, 114)
}